* {
    box-sizing: border-box;
}

.box {
    border: 1px solid black;
    text-align: center;
    background-color: papayawhip;
    font-size: xx-large;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: grab; 
}

.outside {
    border: 1em solid orange;
    background-color: papayawhip;
}

#input {
    border: 1px solid black;
    margin: 5%;
}